// ===============================
// Variables globales
// ===============================
$color-bg: #f9fdf9;
$color-text: #333;
$color-primary: #2e7d32;
$color-primary-light: #e9f8ec;
$color-primary-hover: #c8e6c9;
$color-border: #c5e1c5;
$color-footer-bg: #2e7d32;

$font-main: 'Arial', sans-serif;